<!-- <template name="pwdStrength">
   
   
<style>

.point {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  height: 5px;
  margin-right: 1px;
  width: 60px;
}

</style>

   
    {{> atTextInput}}
    <ul id="strength" check-strength="pw" style="{display: inline;}">
        <li class="point" style="{{style 1}}"></li>
        <li class="point" style="{{style 2}}"></li>
        <li class="point" style="{{style 3}}"></li>
        <li class="point" style="{{style 4}}"></li>
        <li class="point" style="{{style 5}}"></li>
    </ul>
</template>


--> 