<template name="sidebar">


 
<div class="col-md-2">
   
   <!-- MOBILE BUTTON <button class="btn-menu btn btn-default btn-toggle-menu" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                    
                    <br>
                    <br>
   
        <h6 style="display:block; text-align:right;"><b><i class="fa fa-compass" aria-hidden="true"></i> ProJTMS</b></h6>
      <hr>  -->
      
      <ul class=" nav nav-sidebar">
         
          <label style="display:block; text-align:right; background-color:#e7e7e7; padding:5px; ">Your Project Manager </label>
          <li> <a href="{{pathFor 'dashboard'}}"><i class=" fa fa-cubes"></i> Project(s) DB  <!--<span class="badge badge-success">#{{countProjects}}</span>--></a></li>
          
          <li> <a href="{{pathFor 'listings'}}"><i class=" fa fa-group"></i> Client(s) Records <!--<span class="badge">#{{countContacts}}</span>--></a></li>
          <hr>
          <label style="display:block; text-align:right; background-color:#e7e7e7; padding:5px;">Admin Only <span class="badge"> BETA</span></label>
          
         <!-- <li> 
         <a href="{{pathFor 'archives'}}"><i class=" fa fa-archive"></i> Archive 
         
         </a></li> --> 
          <!-- FOR SUBSCRIBER LEVEL --> 
          <li> <a href="{{pathFor 'roles'}}"><i class=" fa fa-tasks"></i> Team Roles </a></li>
          <li><a href="{{pathFor 'archives'}}"><i class=" fa fa-archive"></i>Project Archive <!--<span class="badge">#{{countArchive}}</span>--></a></li>
          <!-- --> 
          
          
               <hr>
          
           {{>chats}}
               
                <!-- {{>chats}} -->
                      
          <!-- FOR SUBSCRIBER LEVEL --> 
          
          <!--<li> <a href="{{pathFor 'email'}}"><i class=" fa fa-fa-sticky-note"></i> Email ?</a></li>  -->
          <!-- <li> <a href="{{pathFor 'contacts'}}"><i class=" fa fa-group"></i> Scrum-board </a></li>
          |todo|active|complete section|flagged|sprint --> 
          
           <!-- --> 
          
                      <!-- community chat window -->     
          
      </ul>
    
    
    
</div><br>

</template> 