<template name="adspace">

   
   
    <div class="col-md-2 span2">
       
        <h6><b><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> Seed/Ad Live Tiles</b></h6>
        <span class="badge">Subscribe 2 Remove</span>
      <hr>
      
      <div class="jumbotron span2">
  
          <p style="font-size:10px;">Ad Space: <br> <b>-</b> Stationary Products <br> <b>-</b> Office Furniture</p>
            </div>
            
            <div class="jumbotron span2">
  
           <p style="font-size:10px;">Ad Space: <br> <b>-</b> Security Provider <br> <b>-</b> Storage Hostings</p>
            </div>
            
            <div class="jumbotron span2">
  
           <p style="font-size:10px;">Ad Space: <br> <b>-</b> Office Space <br> <b>-</b> Workshop Bookings</p>
            </div>
                                
    </div>
      
      
      
</template> 
